
:root{
--primary: rgb(221, 194, 120);
--shadow: 5px 5px 5px 2px grey;
--light: white;
--padding: 5px;
--bord-rad: 25px 25px;
--base: peachpuff; 
}
body{
    background-color: whitesmoke;
}
header {
    text-align: center;
    text-shadow: 5px 5px 5px var(--light);
    
}
.maintitle{
    padding: 200px;
    margin-bottom: 1px;
    background: url(images/sedona-title.jpg)  no-repeat center;
    background-size: cover;
    color: var(--primary) ;
}
nav{
    box-shadow: var(--shadow);
}

section{
    background-color: rgb(255, 200, 151);
    margin: 20px;
    box-shadow: var(--shadow);
    padding: 20px;
}
.bodytitle{
    text-transform: capitalize;
    padding: var(--padding);
}
.threecard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.slide{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.intro{
    text-align: center;
}
footer{
    background-color: rgb(255, 200, 151);
    text-align: center;
    padding-bottom: 20px;
    

}


